.product__container{
      display: grid;
 grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
      max-width: 1450px;
      margin: 100px auto 100px auto;
    flex-wrap: wrap;
    gap: 3rem;
    background-color: white;

    justify-items: center;
 
}
.product__container section{
  margin: 0 auto;

}
h1 {
     font-family: "Amazon Ember", Arial, sans-serif;
    padding: 0 15px;
  font-size: 50px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #1f4b1b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.h3{
   background-color: #b393d3;
      color: white;
          font-family: "Amazon Ember", Arial, sans-serif;
             background: linear-gradient(92.41deg, #003d32, #04734b);
          padding: 10px ;
          margin:0 2%;
}